<app-panel-principal></app-panel-principal>
<br>
<h1 class="title">MODULO DE VEHICULOS DE INGRESO</h1>


<button class="button-trigger-Agregar-Modal button is-dark" data-target="modal-agregar-cliente">Agregar Vehiculo
    Nuevo</button>
<div id="modal-agregar-cliente" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">

        <form action="">
            <div class="box">
                <article class="message">
                    <div class="message-header">
                        <p>Agregar un Vehiculo Nuevo</p>

                    </div>
                    <div class="message-body">
                        ESTE ES EL FORMULARIO PARA AGREGAR UN VEHICULO AL SISTEMA, ESTE NECESITA VINCULARSE CON UN
                        CLIENTE OBLIGATORIAMENTE CON EL NUMERO DE PLACA CORRESPONDIENTE
                    </div>
                </article>
                <hr style="background-color: black;">
                <label for=""><strong>Marca del vehiculo</strong></label>
                <br>
                <div class="select">
                    <select>
                        <option>Selecciona la opcion</option>
                        <option>AUDI</option>
                        <option>HONDA</option>
                        <option>TOYOTA</option>
                        <option>SUZUKI</option>
                        <option>CHEVROLET</option>
                        <option>FORD</option>
                        <option>HYUNDAI</option>
                        <option>NISSAN</option>
                        <option>CHERRY</option>
                        <option>GEELY</option>
                    </select>
                    <br>
                </div>
                <br>
                <label for=""><strong>Tipo de vehiculo</strong></label>
                <br>
                <div class="select">
                    <select>
                        <option>Seleccione el tipo</option>
                        <option>COUPE</option>
                        <option>SEDAN</option>
                        <option>SUV</option>
                        <option>4X4</option>
                        <option>DEPORTIVO</option>
                        <option>MICROBUS</option>
                        <option>CAMION</option>
                    </select>
                    <br>
                </div>
                <br>
                <label for=""><strong>Dueño Registral del vehiculo</strong></label>
                <br>
                <div class="select">
                    <select>
                        <option>Seleccione el cliente Registrado</option>
                        <option>CARLOS</option>

                    </select>
                    <br>
                </div>
                <div class="field">
                    <label class="label">NUMERO DE PLACA</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="">
                    </p>
                </div>
                <div class="field">
                    <label class="label">SERIE DE MOTOR</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="">
                    </p>
                </div>

                <label for=""><strong>CILINDRAJE ACTUAL</strong></label>
                <br>
                <div class="select">
                    <select>
                        <option>Seleccione el cilindraje</option>
                        <option>800CC</option>
                        <option>1000CC</option>
                        <option>1200CC</option>
                        <option>1300CC</option>
                        <option>1400CC</option>
                        <option>1500CC</option>
                        <option>1600CC</option>
                        <option>1800CC</option>
                        <option>2000CC</option>
                        <option>2200CC</option>
                        <option>2500CC</option>
                        <option>2600CC</option>
                        <option>2800CC</option>
                        <option>3000CC</option>
                        <option>3200CC</option>
                        <option>3500CC</option>

                    </select>
                    <br>
                </div>
                <br>
                <label for=""><strong>TRANSMISION</strong></label>
                <br>
                <div class="select">
                    <select>
                        <option>Seleccione el tipo de transmision</option>
                        <option>Manual</option>
                        <option>Automatica</option>
                        <option>Hibrida</option>
                    </select>
                    <br>
                </div>

                <hr style="background-color: black;">
                <button class="button is-success">Registrar Vehiculo al taller</button>
            </div>


        </form>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="container is-fluid">
    <div class="card">

        <div class="card-content">
            <div class="media">

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th><abbr title="Nombre del cliente">Marca</abbr></th>
                            <th><abbr title="Apellidos del cliente">Tipo de Vehiculo</abbr></th>
                            <th><abbr title="Numero de Cedula">Dueño Actual</abbr></th>
                            <th><abbr title="Correo Electronico del cliente">Numero de placa </abbr></th>
                            <th><abbr title="Telefono del cliente">Serie del Motor</abbr></th>
                            <th><abbr title="Marca del vehiculo">Cilindraje del vehiculo</abbr></th>
                            <th><abbr title="Numero de placa">Tipo de transmision</abbr></th>
                            <th><abbr title="Opciones de Administracion">Administracion</abbr></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>
                                <button class="button-trigger-edit-Modal button is-warning"
                                    data-target="modal-js-example">
                                    Edit
                                </button>
                                <div id="modal-js-example" class="modal">
                                    <div class="modal-background"></div>

                                    <div class="modal-content">

                                        <form action="">
                                            <div class="box">
                                                <article class="message">
                                                    <div class="message-header">
                                                        <p>Administracion del vehiculo</p>

                                                    </div>
                                                    <div class="message-body">
                                                        ESTE ES EL FORMULARIO PARA EDITAR UN VEHICULO AL SISTEMA, ESTE
                                                        NECESITA VINCULARSE CON UN
                                                        CLIENTE OBLIGATORIAMENTE CON EL NUMERO DE PLACA CORRESPONDIENTE
                                                    </div>
                                                </article>
                                                <hr style="background-color: black;">
                                                <label for=""><strong>Marca del vehiculo</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Selecciona la opcion</option>
                                                        <option>AUDI</option>
                                                        <option>HONDA</option>
                                                        <option>TOYOTA</option>
                                                        <option>SUZUKI</option>
                                                        <option>CHEVROLET</option>
                                                        <option>FORD</option>
                                                        <option>HYUNDAI</option>
                                                        <option>NISSAN</option>
                                                        <option>CHERRY</option>
                                                        <option>GEELY</option>
                                                    </select>
                                                    <br>
                                                </div>
                                                <br>
                                                <label for=""><strong>Tipo de vehiculo</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Seleccione el tipo</option>
                                                        <option>COUPE</option>
                                                        <option>SEDAN</option>
                                                        <option>SUV</option>
                                                        <option>4X4</option>
                                                        <option>DEPORTIVO</option>
                                                        <option>MICROBUS</option>
                                                        <option>CAMION</option>
                                                    </select>
                                                    <br>
                                                </div>
                                                <br>
                                                <label for=""><strong>Dueño Registral del vehiculo</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Seleccione el cliente Registrado</option>
                                                        <option>CARLOS</option>

                                                    </select>
                                                    <br>
                                                </div>
                                                <div class="field">
                                                    <label class="label">NUMERO DE PLACA</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label class="label">SERIE DE MOTOR</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <label for=""><strong>CILINDRAJE ACTUAL</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Seleccione el cilindraje</option>
                                                        <option>800CC</option>
                                                        <option>1000CC</option>
                                                        <option>1200CC</option>
                                                        <option>1300CC</option>
                                                        <option>1400CC</option>
                                                        <option>1500CC</option>
                                                        <option>1600CC</option>
                                                        <option>1800CC</option>
                                                        <option>2000CC</option>
                                                        <option>2200CC</option>
                                                        <option>2500CC</option>
                                                        <option>2600CC</option>
                                                        <option>2800CC</option>
                                                        <option>3000CC</option>
                                                        <option>3200CC</option>
                                                        <option>3500CC</option>

                                                    </select>
                                                    <br>
                                                </div>
                                                <br>
                                                <label for=""><strong>TRANSMISION</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Seleccione el tipo de transmision</option>
                                                        <option>Manual</option>
                                                        <option>Automatica</option>
                                                        <option>Hibrida</option>
                                                    </select>
                                                    <br>
                                                </div>

                                                <hr style="background-color: black;">
                                                <button class="button is-success">Registrar Vehiculo al taller</button>
                                            </div>


                                        </form>
                                    </div>

                                    <button class="modal-close is-large" aria-label="close"></button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>
                                <button class="button-trigger-edit-Modal button is-warning"
                                    data-target="modal-js-example">
                                    Edit
                                </button>
                                <div id="modal-js-example" class="modal">
                                    <div class="modal-background"></div>

                                    <div class="modal-content">
                                        <form action="">
                                            <div class="box">
                                                <article class="message">
                                                    <div class="message-header">
                                                        <p>EDICION DEL CLIENTE: TEST</p>

                                                    </div>
                                                    <div class="message-body">
                                                        ESTE FORMULARIO ES PARA EDITAR LA INFORMACION DEL CLIENTE,
                                                        ASEGURESE
                                                        DE VALIDAR LA INFORMACION RESPECTIVA DEL CLIENTE Y DEL VEHICULO
                                                    </div>
                                                </article>
                                                <hr style="background-color: black;">
                                                <div class="field">
                                                    <label class="label">Nombre del Cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Apellidos</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Cedula</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="" [maxLength]="9">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Correo Electronico del cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Telefono</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <label for=""><strong>Marca del vehiculo</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Selecciona la opcion</option>
                                                        <option>AUDI</option>
                                                        <option>HONDA</option>
                                                        <option>TOYOTA</option>
                                                        <option>SUZUKI</option>
                                                        <option>CHEVROLET</option>
                                                        <option>FORD</option>
                                                        <option>HYUNDAI</option>
                                                        <option>NISSAN</option>
                                                        <option>CHERRY</option>
                                                        <option>GEELY</option>
                                                    </select>
                                                    <br>
                                                </div>

                                                <div class="field is-one-quarter">
                                                    <label class="label">Placa del Vehiculo</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <hr style="background-color: black;">
                                                <div class="columns is-centered">
                                                    <div class="column">
                                                        <button class="button is-success">Cambiar Informacion del
                                                            Cliente</button>

                                                    </div>
                                                    <div class="column">
                                                        <button class="button is-danger">Eliminar Cliente</button>
                                                    </div>

                                                </div>
                                            </div>


                                        </form>
                                    </div>

                                    <button class="modal-close is-large" aria-label="close"></button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>
                                <button class="button-trigger-edit-Modal button is-warning"
                                    data-target="modal-js-example">
                                    Edit
                                </button>
                                <div id="modal-js-example" class="modal">
                                    <div class="modal-background"></div>

                                    <div class="modal-content">
                                        <form action="">
                                            <div class="box">
                                                <article class="message">
                                                    <div class="message-header">
                                                        <p>EDICION DEL CLIENTE: TEST</p>

                                                    </div>
                                                    <div class="message-body">
                                                        ESTE FORMULARIO ES PARA EDITAR LA INFORMACION DEL CLIENTE,
                                                        ASEGURESE
                                                        DE VALIDAR LA INFORMACION RESPECTIVA DEL CLIENTE Y DEL VEHICULO
                                                    </div>
                                                </article>
                                                <hr style="background-color: black;">
                                                <div class="field">
                                                    <label class="label">Nombre del Cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Apellidos</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Cedula</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="" [maxLength]="9">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Correo Electronico del cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Telefono</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <label for=""><strong>Marca del vehiculo</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Selecciona la opcion</option>
                                                        <option>AUDI</option>
                                                        <option>HONDA</option>
                                                        <option>TOYOTA</option>
                                                        <option>SUZUKI</option>
                                                        <option>CHEVROLET</option>
                                                        <option>FORD</option>
                                                        <option>HYUNDAI</option>
                                                        <option>NISSAN</option>
                                                        <option>CHERRY</option>
                                                        <option>GEELY</option>
                                                    </select>
                                                    <br>
                                                </div>

                                                <div class="field is-one-quarter">
                                                    <label class="label">Placa del Vehiculo</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <hr style="background-color: black;">
                                                <div class="columns is-centered">
                                                    <div class="column">
                                                        <button class="button is-success">Cambiar Informacion del
                                                            Cliente</button>

                                                    </div>
                                                    <div class="column">
                                                        <button class="button is-danger">Eliminar Cliente</button>
                                                    </div>

                                                </div>
                                            </div>


                                        </form>
                                    </div>

                                    <button class="modal-close is-large" aria-label="close"></button>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>