<app-panel-principal></app-panel-principal>
<br>
<h1 class="title">MODULO DE CLIENTES</h1>

<div class="field">
    <label class="label" for="">Buscar Cliente</label>
    <p>
        <input class="input" type="text">
    </p>
</div>


<button class="button-trigger-Agregar-Modal button is-dark" data-target="modal-agregar-cliente">Agregar Cliente
    Nuevo</button>
<div id="modal-agregar-cliente" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">

        <form action="">
            <div class="box">
                <article class="message">
                    <div class="message-header">
                        <p>Agregar un cliente nuevo</p>

                    </div>
                    <div class="message-body">
                        ESTE ES EL FORMULARIO PARA AGREGAR UN NUEVO CLIENTE, UNA VEZ INGRESADA LA INFORMACION, ESTA
                        APARECERA EN LA TABLA DEL MODULO
                    </div>
                </article>
                <hr style="background-color: black;">
                <div class="field">
                    <label class="label">Nombre del Cliente</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Apellidos</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="">
                    </p>
                </div>

                <div class="field">
                    <label class="label">Cedula</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="" [maxLength]="9">
                    </p>
                </div>

                <div class="field">
                    <label class="label">Correo Electronico del cliente</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="">
                    </p>
                </div>

                <div class="field">
                    <label class="label">Telefono</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="">
                    </p>
                </div>
                <label for=""><strong>Marca del vehiculo</strong></label>
                <br>
                <div class="select">
                    <select>
                        <option>Selecciona la opcion</option>
                        <option>AUDI</option>
                        <option>HONDA</option>
                        <option>TOYOTA</option>
                        <option>SUZUKI</option>
                        <option>CHEVROLET</option>
                        <option>FORD</option>
                        <option>HYUNDAI</option>
                        <option>NISSAN</option>
                        <option>CHERRY</option>
                        <option>GEELY</option>
                    </select>
                    <br>
                </div>

                <div class="field is-one-quarter">
                    <label class="label">Placa del Vehiculo</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="">
                    </p>
                </div>

                <hr style="background-color: black;">
                <button class="button is-success">Registrar Cliente</button>
            </div>


        </form>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="container is-fluid">
    <div class="card">

        <div class="card-content">
            <div class="media">

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th><abbr title="Nombre del cliente">Nombre</abbr></th>
                            <th><abbr title="Apellidos del cliente">Apellidos</abbr></th>
                            <th><abbr title="Numero de Cedula">Cedula</abbr></th>
                            <th><abbr title="Correo Electronico del cliente">Correo Electronico</abbr></th>
                            <th><abbr title="Telefono del cliente">Telefono Actual</abbr></th>
                            <th><abbr title="Marca del vehiculo">Marca del vehiculo</abbr></th>
                            <th><abbr title="Numero de placa">Placa del Vehiculo</abbr></th>
                            <th><abbr title="Opciones de Administracion">Administracion</abbr></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>
                                <button class="button-trigger-edit-Modal button is-warning"
                                    data-target="modal-js-example">
                                    Edit
                                </button>
                                <div id="modal-js-example" class="modal">
                                    <div class="modal-background"></div>

                                    <div class="modal-content">
                                        <form action="">
                                            <div class="box">
                                                <article class="message">
                                                    <div class="message-header">
                                                        <p>EDICION DEL CLIENTE: TEST</p>

                                                    </div>
                                                    <div class="message-body">
                                                        ESTE FORMULARIO ES PARA EDITAR LA INFORMACION DEL CLIENTE,
                                                        ASEGURESE
                                                        DE VALIDAR LA INFORMACION RESPECTIVA DEL CLIENTE Y DEL VEHICULO
                                                    </div>
                                                </article>
                                                <hr style="background-color: black;">
                                                <div class="field">
                                                    <label class="label">Nombre del Cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Apellidos</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Cedula</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="" [maxLength]="9">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Correo Electronico del cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Telefono</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <label for=""><strong>Marca del vehiculo</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Selecciona la opcion</option>
                                                        <option>AUDI</option>
                                                        <option>HONDA</option>
                                                        <option>TOYOTA</option>
                                                        <option>SUZUKI</option>
                                                        <option>CHEVROLET</option>
                                                        <option>FORD</option>
                                                        <option>HYUNDAI</option>
                                                        <option>NISSAN</option>
                                                        <option>CHERRY</option>
                                                        <option>GEELY</option>
                                                    </select>
                                                    <br>
                                                </div>

                                                <div class="field is-one-quarter">
                                                    <label class="label">Placa del Vehiculo</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <hr style="background-color: black;">
                                                <div class="columns is-centered">
                                                    <div class="column">
                                                        <button class="button is-success">Cambiar Informacion del
                                                            Cliente</button>

                                                    </div>
                                                    <div class="column">
                                                        <button class="button is-danger">Eliminar Cliente</button>
                                                    </div>

                                                </div>
                                            </div>


                                        </form>
                                    </div>

                                    <button class="modal-close is-large" aria-label="close"></button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>
                                <button class="button-trigger-edit-Modal button is-warning"
                                    data-target="modal-js-example">
                                    Edit
                                </button>
                                <div id="modal-js-example" class="modal">
                                    <div class="modal-background"></div>

                                    <div class="modal-content">
                                        <form action="">
                                            <div class="box">
                                                <article class="message">
                                                    <div class="message-header">
                                                        <p>EDICION DEL CLIENTE: TEST</p>

                                                    </div>
                                                    <div class="message-body">
                                                        ESTE FORMULARIO ES PARA EDITAR LA INFORMACION DEL CLIENTE,
                                                        ASEGURESE
                                                        DE VALIDAR LA INFORMACION RESPECTIVA DEL CLIENTE Y DEL VEHICULO
                                                    </div>
                                                </article>
                                                <hr style="background-color: black;">
                                                <div class="field">
                                                    <label class="label">Nombre del Cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Apellidos</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Cedula</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="" [maxLength]="9">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Correo Electronico del cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Telefono</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <label for=""><strong>Marca del vehiculo</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Selecciona la opcion</option>
                                                        <option>AUDI</option>
                                                        <option>HONDA</option>
                                                        <option>TOYOTA</option>
                                                        <option>SUZUKI</option>
                                                        <option>CHEVROLET</option>
                                                        <option>FORD</option>
                                                        <option>HYUNDAI</option>
                                                        <option>NISSAN</option>
                                                        <option>CHERRY</option>
                                                        <option>GEELY</option>
                                                    </select>
                                                    <br>
                                                </div>

                                                <div class="field is-one-quarter">
                                                    <label class="label">Placa del Vehiculo</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <hr style="background-color: black;">
                                                <div class="columns is-centered">
                                                    <div class="column">
                                                        <button class="button is-success">Cambiar Informacion del
                                                            Cliente</button>

                                                    </div>
                                                    <div class="column">
                                                        <button class="button is-danger">Eliminar Cliente</button>
                                                    </div>

                                                </div>
                                            </div>


                                        </form>
                                    </div>

                                    <button class="modal-close is-large" aria-label="close"></button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>
                                <button class="button-trigger-edit-Modal button is-warning"
                                    data-target="modal-js-example">
                                    Edit
                                </button>
                                <div id="modal-js-example" class="modal">
                                    <div class="modal-background"></div>

                                    <div class="modal-content">
                                        <form action="">
                                            <div class="box">
                                                <article class="message">
                                                    <div class="message-header">
                                                        <p>EDICION DEL CLIENTE: TEST</p>

                                                    </div>
                                                    <div class="message-body">
                                                        ESTE FORMULARIO ES PARA EDITAR LA INFORMACION DEL CLIENTE,
                                                        ASEGURESE
                                                        DE VALIDAR LA INFORMACION RESPECTIVA DEL CLIENTE Y DEL VEHICULO
                                                    </div>
                                                </article>
                                                <hr style="background-color: black;">
                                                <div class="field">
                                                    <label class="label">Nombre del Cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Apellidos</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Cedula</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="" [maxLength]="9">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Correo Electronico del cliente</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Telefono</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>
                                                <label for=""><strong>Marca del vehiculo</strong></label>
                                                <br>
                                                <div class="select">
                                                    <select>
                                                        <option>Selecciona la opcion</option>
                                                        <option>AUDI</option>
                                                        <option>HONDA</option>
                                                        <option>TOYOTA</option>
                                                        <option>SUZUKI</option>
                                                        <option>CHEVROLET</option>
                                                        <option>FORD</option>
                                                        <option>HYUNDAI</option>
                                                        <option>NISSAN</option>
                                                        <option>CHERRY</option>
                                                        <option>GEELY</option>
                                                    </select>
                                                    <br>
                                                </div>

                                                <div class="field is-one-quarter">
                                                    <label class="label">Placa del Vehiculo</label>
                                                    <p class="control">
                                                        <input class="input" type="text" placeholder="">
                                                    </p>
                                                </div>

                                                <hr style="background-color: black;">
                                                <div class="columns is-centered">
                                                    <div class="column">
                                                        <button class="button is-success">Cambiar Informacion del
                                                            Cliente</button>

                                                    </div>
                                                    <div class="column">
                                                        <button class="button is-danger">Eliminar Cliente</button>
                                                    </div>

                                                </div>
                                            </div>


                                        </form>
                                    </div>

                                    <button class="modal-close is-large" aria-label="close"></button>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>