<app-navegacion></app-navegacion>

<h1 class="text-center">BIENVENIDO AL TALLER CHACON</h1>
<br>

<div class="card text-white bg-dark">
    <div class="card-header">Menu Principal</div>
    <div class="card-body">
        <div class="card-group ">
            <div class="card ">

                <div class="card-body">
                    <h4 class="card-title text-dark text-center">PERFIL PERSONAL</h4>
                    <div style="padding: 1px; background-color: red"></div>
                    <br>
                    <button class="btn btn-success mx-auto d-block" (click)="ViewPerfilPersonal()">Perfil Personal</button>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title text-dark text-center">CLIENTES</h4>
                    <div style="padding: 1px; background-color: red"></div>
                    <br>
                    <button class="btn btn-success mx-auto d-block" (click)="ViewClientes()">Ingresar</button>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title text-dark text-center">VEHICULOS</h4>
                    <div style="padding: 1px; background-color: red"></div>
                    <br>
                    <button class="btn btn-success mx-auto d-block" (click)="ViewVehiculos()">Ingresar</button>
                </div>
            </div>
        </div>
        <br>
        <div class="card-group ">
            <div class="card ">

                <div class="card-body">
                    <h4 class="card-title text-dark text-center">DIAGNOSTICOS ACTUALES</h4>
                    <div style="padding: 1px; background-color: red"></div>
                    <br>
                    <button class="btn btn-success mx-auto d-block" (click)="ViewDiagnosticos()">Ingresar</button>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title text-dark text-center">COTIZACIONES</h4>
                    <div style="padding: 1px; background-color: red"></div>
                    <br>
                    <button class="btn btn-success mx-auto d-block" (click)="ViewCotizaciones()">Ingresar</button>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title text-dark text-center">PROVEDORES</h4>
                    <div style="padding: 1px; background-color: red"></div>
                    <br>
                    <button class="btn btn-success mx-auto d-block" (click)="ViewProveedores()">Ingresar</button>

                </div>
            </div>
        </div>
        <br>
        <div class="card-group ">
            <div class="card ">

                <div class="card-body">
                    <h4 class="card-title text-dark text-center">INVENTARIO DEL TALLER</h4>
                    <div style="padding: 1px; background-color: red"></div>
                    <br>
                    <button class="btn btn-success mx-auto d-block" (click)="ViewInventario()">Ingresar</button>

                </div>
            </div>
            
         
        </div>
    </div>
</div>