<div class="container">
    <div class="card border-primary">

        <div class="card-body">
            <form [formGroup]="FormLogin" (ngSubmit)="TempAuth()">
                <div class="mb-3">
                    <label class="label">Correo Electronico</label>
                    <div class="control ">
                        <input class="form-control" type="email" placeholder="Email input" formControlName="InputEmail">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="label">Contraseña</label>
                    <div class="control ">
                        <input class="form-control" type="password" placeholder="Email input"
                            formControlName="InputPassword">
                    </div>
                </div>
                <br>
                <div class="block">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>

                </div>
            </form>

        </div>
    </div>
</div>