<app-navegacion-pagina-principal></app-navegacion-pagina-principal>
<div class="container-fluid">


    <p>Varios de los servicios brindados, son exclusivamente de mecanica rapida <br> cada servicio tendra una variacion
        de entrega de acuerdo a los servicios solicitados y diagnosticados</p>

    <hr>
    <div class="ContainerServicios">

        <div class="row">

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b> SISTEMA DE INYECCION</b>
                    </div>
                    <div class="card-body">

                        <ul class="list-group">

                            <li class="list-group-item">REVISION GENERAL </li>
                            <li class="list-group-item">LIMPIEZA DE INYECTORES</li>
                            <li class="list-group-item">CAMBIO DE INYECTORES </li>
                            <li class="list-group-item">CAMBIO DE FILTROS DE GASOLINA</li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b> SISTEMA DE ENFRIAMIENTO</b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">REVISION GENERAL</li>
                            <li class="list-group-item">CAMBIO DE RADIADORES</li>
                            <li class="list-group-item">CAMBIO DE COOLANT </li>


                        </ul>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b> AFINAMIENTO DE MOTORES A GASOLINA</b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">REVISION DE FUNCIONAMIENTO DE MOTOR</li>
                            <li class="list-group-item">REVISION DE SISTEMA DE ENCENDIDO</li>
                            <li class="list-group-item">CAMBIOS DE BUJIAS </li>
                            <li class="list-group-item">CAMBIO DE CABLES DE BUJIAS</li>
                            <li class="list-group-item">REVISION Y CAMBIO DE BOBINA</li>

                        </ul>
                    </div>

                </div>
            </div>



        </div>
        <br>
        <div class="row">

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b> SISTEMA DE LUBRICACION A MOTORES DE GASOLINA</b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">REVISION GENERAL</li>
                            <li class="list-group-item">CAMBIO DE ACEITE</li>


                        </ul>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b> SISTEMA DE SUSPENSION</b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">REVISION GENERAL</li>
                            <li class="list-group-item">ROTULAS</li>
                            <li class="list-group-item">COMPENSADORES / RESORTES </li>
                            <li class="list-group-item">GALLETAS DE SUSPENSION</li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b> SISTEMA DE FRENOS</b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">REVISION GENERAL Y DIAGNOSTICO PRECISO</li>
                            <li class="list-group-item">LIMPIEZA DE FRENOS</li>
                            <li class="list-group-item">CAMBIO DE PASTILLAS </li>
                            <li class="list-group-item">AJUSTE DE FRENOS</li>

                        </ul>
                    </div>

                </div>
            </div>



        </div>



    </div>
</div>