.ServicioPageIntro{
    color: white;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
li{
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-size: larger;
}
.card-header{
    background-color: #0d6efd;
}
.card-title{
    text-decoration: underline;
    color: white;
}
.DescripcionServicio{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}