<app-navegacion-pagina-principal></app-navegacion-pagina-principal>
<p>Varios de los servicios brindados, son exclusivamente de mecanica rapida <br> cada servicio tendra una variacion
    de entrega de acuerdo a los servicios solicitados y diagnosticados</p>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">SISTEMA DE INYECCION</h3>
                    <div class="row">
                        <div class="col">
                            <p class="DescripcionSistemaInyeccion">Los inyectores son los encargadas de suministrar el
                                combustible necesario al canal de entrada
                                del motor del coche. Su función principal es asegurar que el combustible se
                                distribuya uniformemente ya la presión adecuada, evitando el goteo. Los inyectores
                                están ubicados en la parte superior de los cilindros, lo que permite una inyección de
                                combustible adecuada. Los
                                inyectores juegan un papel vital en el proceso de combustión de un motor térmico, ya que
                                su falla
                                hace que el combustible no ingrese correctamente a la cámara de
                                combustión. Por lo tanto, mantenerlos en buenas condiciones es
                                muy importante para la salud de nuestro motor. ¿Cuánto tiempo ha pasado desde que se
                                revisaron los inyectores
                                ? Contactanos al chat para agendar una cita de revision</p>
                        </div>
                        <div class="col">
                            test
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">SISTEMA DE ENFRIAMIENTO</h3>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">AFINAMIENTO DE MOTORES A GASOLINA</h3>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
        <div class="col-xs-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">SISTEMA DE LUBRICACION GASOLINA</h3>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">SISTEMA DE SUSPENSION</h3>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
        <div class="col-xs-1-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">SISTEMA DE FRENOS</h3>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
    </div>
</div>