<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="StateMenu">
                <li class="nav-item">
                    <a class="btn btn-success nav-link text-white" routerLink="/Panel-Principal">Ver mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link text-white" routerLink="/Panel-Principal" >Inicio</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/Clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/Vehiculos">Vehiculos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/Diagnosticos">Diagnosticos Actuales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/Proveedores">Provedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/Cotizaciones">Cotizaciones de Clientes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opciones del sistema
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/Panel-Principal">GESTION DE USUARIOS</a></li>
                        <li><a class="dropdown-item" routerLink="/Panel-Principal">GENERAR REPORTES</a></li>
                        <li><a class="dropdown-item" routerLink="/Panel-Principal">SOLICITAR SOPORTE TECNICO</a></li>
                       <li><a class="dropdown-item" href="#">SALIR DEL SISTEMA</a></li>
                    </ul>
                </li>
               
            </ul>

        </div>
    </div>
</nav>
<button class="btn btn-outline-warning" (click)="ChangeStateMenu()">{{ButtonStateChange}}</button>
<hr>

