.card{
    border: none;
}
#ServiceDescription{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-shadow: 1cm;
    font-size: x-large;
    color: white;
    
}
.ContenedorLandingPage{
    background-color: black;
}