<app-navegacion-pagina-principal></app-navegacion-pagina-principal>
<div class="container-fluid bg-dark">
    <div class="card-group ">

        <div class="card bg-dark">
            <div class="card-header text-white">ESTE SITIO SE ENCUENTRA EN DESAROLLO, ESTARA DISPONIBLE PROXIMAMENTE</div>
            <div class="card-body">
                <img class="img-fluid mx-auto d-block" src="/assets/LogoPrincipal.png" alt="Card image cap"
                    width="400px">
                <h1 class="card-title">ACERCA DE NOSOTROS</h1>


                <br>
                <p class="card-text" id="ServiceDescription">
                    BIENVENIDO A NUESTRO SITIO, ACA ENCONTRARA TODA LA INFORMACION
                    RESPECTIVA SOBRE LOS SERVICIOS DE MECANICA RAPIDA QUE BRINDAMOS CON LOS MAYORES
                    ESTANDARES DE CALIDAD AUTOMOTRIZ PARA QUE SU VEHICULO TENGA UN MAYOR RENDIMIENTO
                    A LARGO PLAZO
                </p>
            </div>
        </div>

    </div>
    <hr>

    <h1 class="text-center">ESTAS SON ALGUNAS DE LAS LINEAS QUE MANEJAMOS</h1>

    <div class="row">
        <div class="col">
            <img class="img-fluid" src="/assets/LogoMarcas/toyota.png" alt="Toyota" width="100%" height="auto">

        </div>
        <div class="col">
            <img class="img-fluid" src="/assets/LogoMarcas/honda.png" alt="Toyota" width="100%" height="auto">

        </div>
        <div class="col">
            <img class="img-fluid" src="/assets/LogoMarcas/nissan.png" alt="Toyota" width="100%" height="auto">

        </div>
        <div class="col">
            <img class="img-fluid" src="/assets/LogoMarcas/suzuki.png" alt="Toyota" width="100%" height="auto">

        </div>
        <div class="col">
            <img class="img-fluid" src="/assets/LogoMarcas/chevrolet.png" alt="Toyota" width="100%" height="auto">

        </div>
        <div class="col">
            <img class="img-fluid" src="/assets/LogoMarcas/ford.png" alt="Toyota" width="100%" height="auto">

        </div>

    </div>
   

</div>




<footer class="bg-primary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="https://softengineerclaudio.netlify.app/">CR DEVELOPERS 506</a>
    </div>
    <!-- Copyright -->
</footer>